@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
.text{
    text-align: center;
    color: ;
}

/* Nav Styles */

nav div h3{
    color: rgb(255, 255, 255);
font-family: Merriweather;
font-size: 30px;
font-weight: 400;
line-height: 38px;
letter-spacing: 0%;
position: absolute;
width: 246px;
height: 636px;
left: 636px;
right: -282px;
top: 215px;
bottom: -20px;
}
nav div h1{
    color: rgb(255, 255, 255);
font-family: Merriweather;
font-size: 68px;
font-weight: 900;
line-height: 90px;
letter-spacing: 0%;
position: absolute;
width: 620px;
height: 180px;
left: 470px;
right: -470px;
top: 276px;
bottom: -215px;
}
nav>div{
    background: linear-gradient(180.00deg, rgb(7, 2, 17),rgba(7, 2, 17, 0) 100%), url("../assets/images/Banner\ Image.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 570px;
    width: 1254px;
    background-position: center;
}
nav{
    justify-content: center;
    padding: 50px 140px;
    align-items: center;
}
/* offer styles */
.off{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 765px;
    width: 762px;
    padding: 50px 399px;
    align-items: center;
    margin-top: 70px;
}
.off .of{
    color: rgb(255, 0, 0);
font-family: Inter;
font-size: 88px;
font-weight: 700;
line-height: 107px;
letter-spacing: 0%;
text-align: center;
margin-bottom: 48px;
}
.off .su .dls{
    color: rgb(255, 0, 0);
font-family: Inter;
font-size: 24px;
font-weight: 500;
line-height: 29px;
letter-spacing: 0%;
text-align: center;
}
.off .su .cat{
    color: rgb(7, 2, 17);
font-family: Inter;
font-size: 48px;
font-weight: 700;
line-height: 58px;
letter-spacing: 0%;
text-align: center;
}
.off .su{
    margin-bottom: 50px;
}
.off .im{
    height: 575px;
    width: 762px;
}
/* Welcome Invitation */
.Wlcm{
    display: flex;
    background:linear-gradient(90.00deg, rgb(7, 2, 17),rgba(7, 2, 17, 0) 100%),url("../assets/images/Vectorrr.png");
    border-radius: 16px;
    background-position: center;
    background-size: cover;
    height: 570px;
    width: 1230px;
    margin: 50px 140px;
}
.Wlcm .msg{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-left: 126px;
}
.Wlcm .wlcmimg{
    height: 440px;
    width: 331px;
    padding-top: 65px;
    padding-right: 102px;
    padding-bottom: 64px;
    
}
.wlcmt{
    color: rgb(255, 255, 255);
font-family: Merriweather;
font-size: 64px;
font-weight: 900;
line-height: 88px;
letter-spacing: 11%;
text-align: left;
}
.wlcmmsg{
    color: rgba(255, 255, 255, 0.8);
font-family: Inter;
font-size: 18px;
font-weight: 400;
line-height: 30px;
letter-spacing: 0%;
text-align: left;
padding-top: 24px;
}
.wbtn{
    color: rgb(255, 255, 255);
font-family: Inter;
font-size: 20px;
font-weight: 700;
line-height: 24px;
letter-spacing: 0%;
text-align: center;
text-transform: uppercase;
padding-top: 50px;
padding-left: 20px;
}
/* date and venue */
.d{
    color: red;
}
.dd{
    font-family: Inter;
font-size: 32px;
font-weight: 600;
line-height: 56px;
letter-spacing: 0%;
text-align: center;
text-transform: capitalize;
}
.dv{
    border-radius: 16px;
    background: linear-gradient(180.00deg, rgba(255, 0, 0, 0.1),rgba(255, 0, 0, 0) 100%);
    height: 363px;
    width: 1254px;
    margin: 120px 140px;
    text-align: center;
}
#ss{
    padding-top: 100px;
    padding-bottom: 100px;
    
}
.btn{
height: 53px;
width: 158px;
background-color: rgb(255, 0, 0);
border-radius: 8px;
cursor: pointer;
}
.btn .cc{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
    text-transform: uppercase;

}